/*	Imports	*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@import "partials/_menu";
@import "partials/_cloud-background";
@import "partials/_timeline";
@import "partials/_footer";

@font-face {
    font-family: FontAwesome;
    src: url("../components/font-awesome/fonts/fontawesome-webfont.woff");
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #f3f3f3;
	color: #4c5858;
	font-family: 'Noto Sans';

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		text-decoration: none;
		color: #4c4444;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	p {
		margin: 0;
	}

	main {
		section {
			padding-bottom: 30px;
			overflow: hidden;

			&:nth-child(even) {
				background-color: white;
			}

			h2 {
				text-align: center;

				i {
					padding-right: 15px;
				}
			}

			#text-bio {
				text-align: justify;
				width: 94%;
				margin: 0 auto;
			}

			@media screen and (min-width: 700px) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.images {
			margin: 0 -15px;
			
			img {
				border: 1px solid lightgray;
			}
		}
	}
}
