#front-title {
	background: #13bef2;
	text-align: center;
	position: relative;
	margin-top: 55px;
	padding-top: 60px;
	padding-bottom: 25px;
	overflow-x: hidden;
}

/*	Keyframes	*/

@keyframes animatedCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 42px;
	position: relative;
	width: 128px;
	
	animation: animatedCloud 19s linear infinite;
	
	&:before, &:after {
		background: #fff;
		content: '';
		position: absolute;
	}
	
	&:before {
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		height: 35px;
		left: 22px;
		top: -22px;
		width: 35px;
	}
	&:after {
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 100%;
		width: 70px;
		height: 70px;
		right: 12px;
		top: -36px;
	}
}