$width: 182px;
$duration-c: 48;
$small-c: 0.45;
$normal-c: 0.65;
$big-c: 0.8;

@keyframes animatedCloud {
    0% {
        margin-left: -+$width;
    }
    100% {
        margin-left: 100%;
    }
}

#front-title {
	background: #8cadb7; //#13bef2;
	text-align: center;
	position: relative;
	/*margin-top: 36px;*/
	padding-top: 70px;
	padding-bottom: 25px;
	overflow-x: hidden;
	
	h2, h3 {
		margin-top: 0;
	}
	h3 {
		margin-bottom: 44px;
	}
	
	.cloud {
		background: #fff;
		background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
		background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
		background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
		background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
		background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);

		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;

		-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

		width: $width;
		height: 62px;
		position: relative;

		&:before, &:after {
			background: #fff;
			content: '';
			position: absolute;
		}

		&:before {
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			width: 54px;
			height: 54px;
			left: 25px;
			top: -28px;
		}
		&:after {
			-webkit-border-radius: 200px;
			-moz-border-radius: 200px;
			border-radius: 100%;
			width: 100px;
			height: 100px;
			right: 17px;
			top: -55px;
		}
	}

	.small-cloud {
		transform: scale($small-c);
		animation: animatedCloud ($small-c*$duration-c)+s linear infinite;
	}
	.normal-cloud {
		transform: scale($normal-c);
		animation: animatedCloud ($normal-c*$duration-c)+s linear infinite;
	}
	.big-cloud {
		transform: scale($big-c);
		animation: animatedCloud ($big-c*$duration-c)+s linear infinite;
	}
}