nav {
	width: 100%;
	/*background: #13bef2; //#333
	height: 55px;*/
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: white;
	border-bottom: 2px solid;
	
	&.sticky {
		background: #13bef2;
		box-shadow: 0 0px 12px 1px #85cce2;
	}
	
	ul {
		background: white;
		position: relative;
		overflow: hidden;
		max-height: 0;

		&.is-open {
			transition: max-height ease-in .25s;
			max-height: 12em;
		}
			
		li {
			border-bottom: 1px solid #9a9a9a;
			text-align: center;
			/*display: flex;
			flex-direction: column;*/

			a, &#menu-close {
				padding: 4px 20px;
				display: block;
				cursor: pointer;
				font-weight: bold;
			}
		}
	}

	#menu-icon {
		position: relative;
		width: 37px;
		height: 38px;
		margin: 0;
		cursor: pointer;
		float: right;

		&:before {
			content: '';
			position: absolute;
			width: 22px;
			left: 8px;
			box-shadow: (0 12px 0 1px #4c5858, 0 19px 0 1px #4c5858, 0 26px 0 1px #4c5858);
		}
	}

	#nav-title {
		margin: 0;
		font-weight: 500;
		letter-spacing: 1px;
		float: right;
	}
}

@media screen and (min-width: 700px) {
	nav {
		ul {
			background: transparent;
			min-height: 38px;
			display: inline-flex;
			position: relative;
			left: 10px;

			li {
				border: none;
				position: relative;

				a {
					padding: 4px 15px;
					position: relative;
					top: 3px;
				}

				&#menu-close {
					display: none;
				}
			}
		}

		#menu-icon {
			display: none;
		}

		#nav-title {
			position: relative;
			right: 10px;
		}
	}
}