nav {
	#menu-icon {
		position: relative;
		top: 8px;
		left: 4px;
		width: 37px;
		height: 38px;
		margin: 0;
		cursor: pointer;
	
		&:before {
			content: '';
			position: absolute;
			width: 22px;
			left: 8px;
			box-shadow: (0 12px 0 1px #fff, 0 19px 0 1px #fff, 0 26px 0 1px #fff);
		}
	}
	#nav-title {
		position: absolute;
		right: 10px;
		top: 8px;
		color: white;
		margin: 0;
		letter-spacing: 1px;
	}
	ul {
		background: white;
		position: relative;
		top: 17px;
		right: 100%;
		
		li {
			padding: 4px 20px;
			border-bottom: 1px solid #9a9a9a;
		}
	}
}
#front-title {
	background: #13bef2;
}

nav ul li {
	display: flex;
	flex-direction: column;
}